.text-center {
    text-align: center
}

h2 {
    color: black;
    font-weight: bold;
}

.redtext {
    color:red;
}

.bluetext {
    color:blue;
}

.greentext {
    color:green;
}

.bigtext {
    font-size: 150%;
}

.smalltext {
    font-size: 75%;
}

.orangetext {
    color: orange;
}